## __2標本t検定__

このNotebookはRで書かれている.

In [1]:
# 対応の有無
PAIRED = "FALSE" #@param ["FALSE", "TRUE"]
PAIRED = as.logical(PAIRED)
print(PAIRED)

[1] FALSE

In [2]:
# データ
c1 = c(10.1, 12.3, 14.2, 16.1, 13.6)  # before
c2 = c(12.5, 13.8, 14.0, 17.0, 16.4)  # after

In [3]:
# 平均
mean(c1)
mean(c2)

# 分散
var(c1)
var(c2)

# 対応のある場合は差分についても計算
if (PAIRED) {
    mean(c1 - c2)
    var(c1 - c2)
}

[1] 13.26

[1] 14.74

[1] 4.993

[1] 3.578

In [4]:
# 2標本t検定(両側)
result = t.test(c1, c2, paired=PAIRED)               # 等分散性を仮定しない
# result = t.test(c1, c2, paired=PAIRED, var.equal=T)  # 等分散性を仮定
result

	Welch Two Sample t-test

data:  c1 and c2
t = -1.1304, df = 7.7877, p-value = 0.2919
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.513576  1.553576
sample estimates:
mean of x mean of y
    13.26     14.74

In [5]:
# 標本数
n1 = length(c1)
n2 = length(c2)
print(n1)

# 割る数
divider = ifelse(PAIRED, sqrt(n1), sqrt(n1*n2/(n1+n2)))
print(divider)

# 効果量
t_value = as.numeric(result$statistic)
effect_size = t_value / divider
effect_size

[1] 5
[1] 1.581139

[1] -0.7149258

In [6]:
type = ifelse(PAIRED, "paired", "two.sample")
print(type)

# 検出力0.8のときのn
power.t.test(power=0.8, delta=effect_size, sig.level=0.05, type=type)

[1] "two.sample"

     Two-sample t test power calculation

              n = 31.70215
          delta = 0.7149258
             sd = 1
      sig.level = 0.05
          power = 0.8
    alternative = two.sided

NOTE: n is number in *each* group

In [7]:
# 検出力
if (n1==n2) {
    power.t.test(delta=effect_size, sig.level=0.05, n=n1, type=type)
}

     Two-sample t test power calculation

              n = 5
          delta = 0.7149258
             sd = 1
      sig.level = 0.05
          power = 0.1683459
    alternative = two.sided

NOTE: n is number in *each* group